In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.1.4-cp310-cp310-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\omzlette\desktop\fibo\thesis\checker-code\venv\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\omzlette\desktop\fibo\thesis\checker-code\venv\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     ------------------------------------- 341.8/341.8 kB 22.1 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\omzlette\desktop\fibo\thesis\checker-code\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.4-cp310-cp310-win_amd64.whl (10.7 MB)
   ---------------------------------------- 0.0/10.7 MB ? eta -:--:--
   ----- ---------------------------------- 1.3/10.7 MB 42.9 MB/s eta 0:00:01
   --------------- ------------------------ 4.2/10.7 MB 53.2 MB/s eta 0:00:01
   ----------------------- ---------------- 6.4/10.7 MB 51.1 MB/s eta 0:00:01
   ---------------------------------- ----- 9.2/10.7 MB 58.7 MB/s eta 0:00:01
   ---------------------------------------  10.7/10.7 MB 54.4 MB/s eta 0:00:01
   ---------------------------------------- 10.7/10.7 MB 46.7 MB/s eta 0:00:00
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ---------------------------------------- 0.0/502.5 kB ? eta -:--:--
   --------------------------------------- 502.5/502.5 kB 32.8 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.1.4 pytz-2023.3.post1 tzdata-2023.3

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np

In [4]:
dfIDLE = pd.read_csv('data/idle_resource.csv', sep=',', header=0)
dfIDLE.head()

    CPU  GPU       RAM  Moves  Loop
0  74.1  0.0  1.253065    NaN   NaN
1  67.4  0.0  1.288311    NaN   NaN
2  33.1  0.0  1.295970    NaN   NaN
3  10.2  0.0  1.296962    NaN   NaN
4  10.4  0.0  1.298379    NaN   NaN

In [5]:
idleCPU = dfIDLE['CPU'].mean()
idleGPU = dfIDLE['GPU'].mean()
idleRAM = dfIDLE['RAM'].mean()
print("idleCPU: ", idleCPU)
print("idleGPU: ", idleGPU)
print("idleRAM: ", idleRAM)

idleCPU:  17.6785
idleGPU:  0.0
idleRAM:  1.18509010944

In [8]:
dfMM = pd.read_csv('data/resource_usage.csv', sep=',', header=0)
dfMM.tail()

      CPU  GPU       RAM  Moves  Loop
851  51.9  0.0  1.350853     33    19
852  49.6  0.0  1.350959     34    19
853  51.7  0.0  1.350861     35    19
854  49.6  0.0  1.351205     36    19
855  51.5  0.0  1.350939     37    19

In [7]:
mmCPU = dfMM['CPU'].mean()
mmGPU = dfMM['GPU'].mean()
mmRAM = dfMM['RAM'].mean()
print("mmCPU: ", mmCPU)
print("mmGPU: ", mmGPU)
print("mmRAM: ", mmRAM)

mmCPU:  77.4501168224299
mmGPU:  0.0
mmRAM:  1.354732261682243